.fs-toppic {
    font-size: 38px;
    font-weight: bold;
}

.fs-content {
    font-size: 18px;
}

.fs-describe {
    font-size: 12px;
}

.heading {
    display: block;
    padding-top: 12%;
    padding-bottom: 6%;
    text-align: center;
}

.heading-img {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20%;
    max-width: 100%;
    height: auto;
}

.bg-rice {
    background-color: #F7F5F2;
}

.promotion-pad {
    padding-top: 8%;
    padding: 8%;
}

.about-pad {
    display: flex;
    padding-top: 150px;
    padding-bottom: 150px;
}

.about-pad img {
    border-radius: 25px;
}

.about-pad a {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.section-area-min {
    margin-right: auto;
    margin-left: auto;
    width: 800px;
}

.top-contents-promotion_list {
    margin-bottom: 50px;
}

.top-contents-promotion_list li:not(:last-child) {
    margin-bottom: 20px;
}

.top-contents-promotion_list a {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-decoration: none;
    color: black;
}

.top-contents-promotion_list a:hover {
    color: black;
    text-decoration: underline;
}

.top-contents-promotion_list a>time {
    font-weight: bold;
    width: 130px;
}

.top-contents-promotion_list p {
    flex: 1;
}

.feature-pad {
    padding-top: 5%;
    padding-bottom: 5%;
}

.feature-pad_text {
    text-align: left;
    padding: 5%;
}

.feature-pad_img {
    margin-top: 5%;
    margin-bottom: 8%;
    text-align: center;
}

.feature-pad_img img{
    margin-left: 2%;
}
/* btn */
.btn_custom{
    margin-top: 10%;
    display: inline-block;
    font-weight: bold;
    color:#fff;
    padding: 18px 80px;
    
    border-radius:30px;
    text-decoration: none;
    outline: none;
    background: #000000;
}

/*nav bar*/
nav{
    
}
.gnavi {
    margin-top: 1%;
    margin-bottom: auto;
}

.gnavi li.current a,
.gnavi li a:hover {
    color: #000000;
}

.gnavi li a::after {
    content: '';

    left: 15%;
    width: 70%;
    height: 2px;
    background: #404040;
    transition: all .3s;
    transform: scale(0, 1);
}

.gnavi li.current a::after,
.gnavi li a:hover::after {
    transform: scale(1, 1);
}
/*bg topic*/
.num-bg{
    display: inline-block;
    text-align: center;
    width: 70px;
    height: 50px;
    border-radius: 50px;
    background-color: #E5E5E5;
    margin-left: 5%;
    margin-right: 8%;
}


/*stuff box*/
.box_stuff1 {
    border-radius: 50px;
    margin: 2%;
    width: 250px;
    height: 250px;
    background-color: #E5E5E5;
}

.box_stuff2 {
    border-radius: 50px;
    margin: 2%;
    width: 250px;
    height: 250px;
    border-style: solid;
}

.icbox1{
    margin-top: 48px;
    margin-bottom: 34px;
    height: 80px;
    width: auto;
}

.icbox2{
    margin-top: 53px;
    margin-bottom: 39px;
    height: 70px;
    width: auto;
}

.icbox3{
    margin-top: 55px;
    margin-bottom: 42px;
    height: 65px;
    width: auto;
}
/*term*/

.term-item{
    margin-bottom:60px;
}

ul {
    list-style: none;
}